Una tupla è una struttura dati ordinata e non modificabile.
Si forma con le parentesi tonde

In [ ]:
tupla1=(1,2,3,4,5)
print(tupla1)

(1, 2, 3, 4, 5)

In [ ]:
ins = {"banana", "pesca", "mela", "pera"}
ins1 = {"banana", "kiwi", "uva", "ciliegia"}
print(ins)
inComune = ins.intersection(ins1)

print(f"L'insieme 'ins' e l'insieme 'ins1' hanno la frutta: {inComune} in comune nei loro gusti!")
print(ins)
print(f"Tutti i frutti che piacciono ad entrambi sono: {ins.union(ins1)}")
print(ins.difference(ins1))

def add(n1, n2):
  return n1 + n2
print(add(5,555))

{'pera', 'mela', 'pesca', 'banana'}
L'insieme 'ins' e l'insieme 'ins1' hanno la frutta: {'banana'} in comune nei loro gusti!
{'pera', 'mela', 'pesca', 'banana'}
Tutti i frutti che piacciono ad entrambi sono: {'mela', 'ciliegia', 'banana', 'pesca', 'uva', 'kiwi', 'pera'}
{'mela', 'pesca', 'pera'}
560

In [ ]:
dizionario = {
    "nome": "Enrico",
    "cognome": "Cottone"
}
print(dizionario)

{'nome': 'Enrico', 'cognome': 'Cottone'}

Gli elementi tuple sono ordinati, non modificabili e consentono valori duplicati. 
Sono indecizzate infatti il primo elemento della tuple ha valore di index "0"

Le tuple non sono modificabili, il che significa che non possiamo modificare, aggiungere o rimuovere elementi dopo che la tupla è stata creata.

quindi se ci serisse un vettore non modificabile non useremmo list ma una tupla

In [ ]:
tupla1.append(1) #non funziona perché non e modificabile

AttributeError: ignored

Per creare una tupla con un solo elemento, devi aggiungere una virgola dopo l'elemento

In [ ]:
tupla2=("prova",)
print(type(tupla2))
print(tupla2)
tupla2=("prova")
print(type(tupla2))

<class 'tuple'>
('prova',)
<class 'str'>

puo cotenere tutti i tipi di dati, pure tutti insieme in ua sola tuple

In [ ]:
tupla3=("ciao", 1, True,2,"hello")
print(tupla3)

('ciao', 1, True, 2, 'hello')

si puo usare anche la funzione "tuple()" per crearne una

In [ ]:
pluto = [1, 0 ,2]
prova=tuple(pluto)
print(prova)
print(pluto)
pluto.extend([2])
print(pluto)
print(prova)

(1, 0, 2)
[1, 0, 2]
[1, 0, 2, 2]
(1, 0, 2)

**esercizio**

generare 20 numeri casuali non uguali che varino da 1 a 100, poi inserirli in una struttura dati adeguata che non sia modificabile.

In [ ]:
import random 
lista0 = random.sample(range(1,100),20) 
print(lista0)

[70, 26, 15, 2, 40, 88, 54, 52, 62, 78, 4, 99, 45, 94, 7, 22, 16, 56, 42, 38]

aggiungere i primi 3 cognomi della classe in posizioe 1 all precedente vettore